body {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #49c5c9;
	border-radius: 20px;
  width: 70%;
  max-width: 800px;
  margin: 0 auto;
  padding: .5em 1em;
}

.btn {
  margin: 0 10px;
  border-radius: 20px;
	border: none;
	background: orange;
	padding: .5em 1em;
}

